html {
    display: flex;
    height: 100%;
    margin: 0;
    /* align-items: center; */
    justify-content: center;
    background-image: url('optimized.jpg');
    background-size: cover;
    color: darkgrey;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    background-color: black;
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    width: auto;
}

h1 {
    padding: .5em .5em .5em .5em;
    font-size: 5em;
    align-items: center;
    font-weight: normal;
    margin: 0;
    color: floralwhite;
}

h2 {
    align-items: center;
    color: floralwhite;
    /* justify-content: center; */
    padding: .5em .5em 1em .5em;
    font-size: 3em;
    font-weight: normal;
}

.bigGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid {
    /* align-items: center; */
    border-radius: 8px;
    /* backdrop-filter: blur(3px); */
    grid-column: 2;
    grid-row: 1;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(0, 0,  0, 0.5);
}

.title {
    font-size: 1.7em;
    font-weight: 600;
}

.social {
    grid-column: 1;
    grid-row: 1;
    padding: 1em;
    font-weight: bolder;
}

.school {
    grid-column: 2;
    grid-row: 1;
    padding: 1em;
    font-weight: bolder;
}

.music {
    grid-column: 3;
    grid-row: 1;
    padding: 1em;
    font-weight: bolder;
}

.work {
    grid-column: 4;
    grid-row: 1;
    padding: 1em;
    font-weight: bolder;
}

.cs {
    grid-column: 1;
    grid-row: 2;
    padding: 1em;
    font-weight: bolder;
}

.physics {
    grid-column: 2;
    grid-row: 2;
    padding: 1em;
    font-weight: bolder;
}

.japanese {
    grid-column: 3;
    grid-row: 2;
    padding: 1em;
    font-weight: bolder;
}

.religion{
    grid-column: 4;
    grid-row: 2;
    padding: 1em;
    font-weight: bolder;
}


ul {
    list-style: none;
    font-size: 1.5em;
}

a {
    color: darkgrey;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    background-color: floralwhite;
    border-radius: 5px;
    padding: 1px;
}


.manager {
    grid-column: 5;
    grid-row: 1;
    padding: 1em;
    font-weight: bolder;
    background-color: rgba(0, 0,  0, 0.5);
    border-radius: 8px;
    width : 100%;
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
}
